img{display: block;
    margin-left: auto;
    margin-right: auto;}
table{margin: auto;}
.title{text-align: center; font-weight: bold; font-family: serif;}
h1,h2,h3{font-family: fantasy; font-weight: bold;}
.content{font-family: serif;}